{% extends "base.html" %} {% block title %}Your Basket{% endblock %} {% block
css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/basket.css')}}"
/>
{% endblock %}{% block content %}
<!-- Info message box with flash -->
{% with messages = get_flashed_messages(category_filter='info') %} {% if
messages %} {% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  {% endfor %}
</div>
{% endif %} {% endwith %}
<!-- alert message box with flash -->
{% with messages = get_flashed_messages(category_filter='error') %} {% if
messages %} {% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  {% endfor %}
</div>
{% endif %} {% endwith %}
<div class="container py-5">
  <h2>Your Shopping Basket</h2>
  {% if cart %} {% for item in cart.items %}
  <div class="products mb-4">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img
          src="{{ url_for('static', filename=item.product.img1) }}"
          alt="{{ item.product.name }}"
          class="img-fluid rounded"
          style="width: 250px"
        />
      </div>
      <div class="col-md-8">
        <h4>{{ item.product.name }}</h4>
        <p>{{ item.product.description }}</p>
        <p>
          <strong>Price:</strong> ${{ '%.2f' | format(item.product.price) }}
        </p>
        <form
          method="POST"
          action="{{ url_for('main.edit_cartitem', item_id=item.id)}}"
        >
          <div class="input-group mb-3" style="max-width: 150px">
            <input
              type="number"
              name="quantity"
              value="{{ item.quantity }}"
              min="1"
              class="form-control"
            />
          </div>
          <p>
            <strong>Item Total:</strong> ${{ '%.2f' | format(item.total_price())
            }}
          </p>
          <!-- update button -->
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <!-- delete button -->
        <form
          class="my-3"
          method="POST"
          action="{{ url_for('main.remove_cartitem', item_id=item.id) }}"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- Summary Section -->
  <!-- Add new item -->
  <div class="d-flex my-3 justify-content-around align-items-center">
    <a href="{{url_for('main.productDetail')}}">
      <button class="btn btn-primary">Add New Item</button>
    </a>
    <!-- empty cart -->
    <form action="{{url_for('main.empty_cartitem')}}">
      <button class="btn btn-danger">Empty Cart</button>
    </form>
  </div>

  <div class="summary border-top pt-4">
    <a href="{{ url_for('main.checkout') }}">
      <button class="btn btn-success w-100" style="background-color: #0a5275">
        Proceed to Checkout
      </button>
    </a>
  </div>

  {% else %}
  <p class="text-muted">Your basket is empty.</p>
  {% endif %}
</div>
{% endblock %}
