{% extends "base.html"%} {% block title %} Medifast {% endblock %} {% block css
%}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
{% endblock %}{%block content%} {% with messages =
get_flashed_messages(category_filter='info') %} {% if messages %} {% for message
in messages %}
<div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<section class="slider">
  <div class="carousel">
    <div class="carousel-track">
      <img
        src="{{url_for('static', filename='img/banner 1.jpg')}}"
        alt="Medical Equipment"
      />
      <img
        src="{{url_for('static', filename='img/banner 2.jpg')}}"
        alt="Health Supplies"
      />
      <img
        src="{{url_for('static', filename='img/banner 3.jpg')}}"
        alt="Hospital Tools"
      />
    </div>
  </div>
</section>

<div class="dropdown my-3">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Category
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
      <a
        class="dropdown-item"
        href="{{url_for('main.filter_by_category', category_name='pe')}}"
        >protective equipment</a
      >
    </li>
    <li>
      <a
        class="dropdown-item"
        href="{{url_for('main.filter_by_category', category_name='med')}}"
        >medicine</a
      >
    </li>
    <li>
      <a
        class="dropdown-item"
        href="{{url_for('main.filter_by_category', category_name='dt')}}"
        >diagnose tools</a
      >
    </li>
  </ul>
</div>

<div class="d-flex flex-column my-3">
  {% if categories %} {% for category, products_in_category in
  categories.items() %}
  <div>
    {% if category == 'pe'%} {% set category = 'Protective Equipment' %}
    <h1 class="col-12 text-center mt-3">{{ category}}</h1>
    {% elif category == 'med' %} {% set category = 'Medicine' %}
    <h1 class="col-12 text-center mt-3">{{ category}}</h1>
    {% else %} {% set category = 'Diagnose Tools' %}
    <h1 class="col-12 text-center mt-3">{{ category}}</h1>
    {% endif %}
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products_in_category %}

    <div class="col">
      <div class="card">
        <a
          href="{{ url_for('main.productDetailByID', product_id=product.id )}}"
        >
          <img
            src="{{url_for('static',filename=product.img1)}}"
            class="card-img-top"
            alt="medicine"
          />
          <div class="card-body">
            <h5 class="h4 mb-3">{{ product.name}}</h5>
            <p class="h5">${{product.price}}</p>
            <a href="" class="btn btn-primary">Add to Cart</a>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% else %}
<h1>No result</h1>
{% endif%} {% endblock %}
