{% extends "base.html"%} {% block title %} Medifast {% endblock %} 
{% block css %}
<link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
     {% endblock %}{%block
content%} {% with messages = get_flashed_messages(category_filter='info') %} {%
if messages %} {% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<section class="slider">
  <div class="carousel">
    <div class="carousel-track">
      <img
        src="{{url_for('static', filename='img/banner 1.jpg')}}"
        alt="Medical Equipment"
      />
      <img
        src="{{url_for('static', filename='img/banner 2.jpg')}}"
        alt="Health Supplies"
      />
      <img
        src="{{url_for('static', filename='img/banner 3.jpg')}}"
        alt="Hospital Tools"
      />
    </div>
  </div>
</section>

<main>
  <div class='productlist'>
  <section id="products" class="product-grid">
    <div class="product-category">
      {% for category, products_in_category in categories.items() %}
      <section class='product-category'>
        <div class='category_title'>
          <h2>{{category}}</h2>
        </div>
      {% for product in products_in_category %}
      <div class='product_list'>
      <a href='{{ url_for('main.productDetailByID', product_id=product.id )}}'>
        <img src="{{url_for('static',filename=product.img1)}}">
        <h3> {{ product.name}} </h3>
        <p> {{product.price}}</p>
        <a href='' style="border: 2px solid black; padding: 5px 20px; border-radius: 5px;">Add to Cart</a>
      </a>
    </div>
      {% endfor %}
      </section> {% endfor %} {% endblock %}
      <!-- <footer>
    <p>&copy; 2025 MediFast Online Store. All rights reserved.</p>
  </footer> -->
    </div>
  </section>
</div>
</main>
