{% extends "base.html" %} {% block title %} Product Details {% endblock %} {%
block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/productdetail.css')}}"
/>
{% endblock %} {%block content%}
<div class="product_detail">
  <div class="images">
    <div class="top_img">
      <img src="{{url_for('static',filename=product.img1)}}" class="top_img1" />
    </div>
    <div class="bottom_img">
      <div class="img_content">
        <img
          src="{{url_for('static',filename=product.img2)}}"
          class="img_bottom"
        />
      </div>

      <div class="img_content">
        <img
          src="{{url_for('static',filename=product.img3)}}"
          class="img_bottom"
        />
      </div>
    </div>
  </div>
  <form
    action="{{ url_for('main.add_item_to_shoppingcart_with_qty') }}"
    method="post"
  >
    <input type="hidden" name="product_id" value="{{ product.id }}" />
    <div class="product_doc">
      <h1>{{product.name}}</h1>
      <h2>${{product.price}}</h2>
      <p>{{product.description}}</p>
      <label for="qty">Qty: </label>
      <select name="quantity" id="qty">
        {% for i in range(1, 6) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}</select
      ><br />
      <button type="submit">Add to Cart</button>
    </div>
  </form>
  <div class="suggestion">
    <h1>Tailored choices, powered by insight.</h1>
    <div class="suggestion_container">
      <div class="container_s"></div>
      <div class="container_s"></div>
      <div class="container_s"></div>
      <div class="container_s"></div>
      <div class="container_s"></div>
    </div>
  </div>
</div>
{% endblock %}
